@font-face {
font-family: 'mono';
src:  url('JetBrainsMono-Regular.woff2') format('woff2');
}

html body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;

    font-family: "mono", sans-serif;
}

#buffer {
    top: 0;
    left: 0;
    color: transparent;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#mainContainer {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subContainer {
    position: relative;
    display: block;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    display: inline-block;
}

#content > div {
    white-space: pre-line;
    display: inline-block;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.cursor {
    animation: blink 1s linear infinite;
}

a {
    color: white;
}

::selection {
    color: black;
    background: white;
  }
